<div class="py-4 text-center welcome border-gray-200">
    <h1 class="font-bold mb-3 text-sm">Welcome to your Buffalo App!</h1>
    <img src="/assets/images/buffalo.svg" alt="buffalo-logo">
    <p>
        This is the landing page for your app, the content of this page is at <code>app/templates/home/index.html.plush</code>.
        Refresh takes care of refreshing changes you do to your code and refresh the binary. If you want to stop the application you can hit <code>Ctrl+C</code> 
        on the same terminal where you ran <code>ox dev</code>.
    </p>
</div>

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  This is a secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  This is a light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  This is a dark alert—check it out!
</div>